$font-family-sans-serif: 'Montserrat', sans-serif;

$primary:#a6e9d7;
$success: #00b6b0;
$dark: #1e3123;
$secondary: #ffc0d1;   
$light: #f0ffee;
$warning: #ffc87c;
$danger: #bea698;


@import "../node_modules/bootstrap/scss/bootstrap";